server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/studentdb
    username: {username}
    password: {password}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

# Replace 'your_db_username' and 'your_db_password' with your actual PostgreSQL credentials.

